<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Branch</string>
			<key>Key</key>
			<string>branch_name</string>
			<key>DefaultValue</key>
			<string>HCPL</string>
			<key>Titles</key>
			<array>
				<string>Aldine Branch Library</string>
				<string>Atascocita Branch Library</string>
				<string>Baldwin Boettcher Branch Library</string>
				<string>Barbara Bush Branch Library</string>
				<string>Clear Lake City-County Freeman Branch Library</string>
				<string>Crosby- Edith Fae Cook Cole Branch Library</string>
				<string>Evelyn Meador Branch Library</string>
				<string>Fairbanks Branch Library</string>
				<string>Galena Park Branch Library</string>
				<string>High Meadows Branch Library</string>
				<string>Jacinto City Branch Library</string>
				<string>Katherine Tyra Branch Library</string>
				<string>Katy Branch Library</string>
				<string>Kingwood Branch Library</string>
				<string>La Porte Branch Library</string>
				<string>Law Library</string>
				<string>Lone Star College - Tomball Community Library</string>
				<string>Maud Smith Marks Branch Library</string>
				<string>North Channel Branch Library</string>
				<string>Northwest Branch Library</string>
				<string>Octavia Fields Branch Library</string>
				<string>Parker Williams Branch Library</string>
				<string>South Houston Branch Library</string>
				<string>Spring Branch Memorial Branch Library</string>
				<string>Stratford Branch Library</string>
				<string>TMC Library</string>
				<string>West University Branch Library</string>
				<string>Bellaire Public Library</string>
				<string>HCPL Technology Lab @ Lincoln Park</string>
				<string>Library Administration</string>
				<string>Outreach</string>
			</array>
			<key>Values</key>
			<array>
				<string>Aldine Branch Library</string>
				<string>Atascocita Branch Library</string>
				<string>Baldwin Boettcher Branch Library</string>
				<string>Barbara Bush Branch Library</string>
				<string>Clear Lake City-County Freeman Branch Library</string>
				<string>Crosby- Edith Fae Cook Cole Branch Library</string>
				<string>Evelyn Meador Branch Library</string>
				<string>Fairbanks Branch Library</string>
				<string>Galena Park Branch Library</string>
				<string>High Meadows Branch Library</string>
				<string>Jacinto City Branch Library</string>
				<string>Katherine Tyra Branch Library</string>
				<string>Katy Branch Library</string>
				<string>Kingwood Branch Library</string>
				<string>La Porte Branch Library</string>
				<string>Law Library</string>
				<string>Lone Star College - Tomball Community Library</string>
				<string>Maud Smith Marks Branch Library</string>
				<string>North Channel Branch Library</string>
				<string>Northwest Branch Library</string>
				<string>Octavia Fields Branch Library</string>
				<string>Parker Williams Branch Library</string>
				<string>South Houston Branch Library</string>
				<string>Spring Branch Memorial Branch Library</string>
				<string>Stratford Branch Library</string>
				<string>TMC Library</string>
				<string>West University Branch Library</string>
				<string>Bellaire Public Library</string>
				<string>HCPL Technology Lab @ Lincoln Park</string>
				<string>Library Administration</string>
				<string>Outreach</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Required Fields?</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Email</string>
			<key>Key</key>
			<string>email_required</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Phone</string>
			<key>Key</key>
			<string>phone_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
